/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    max-height: 1000px;
    position: relative;
    font-family: sans-serif,"SFPRODISPLAYREGULAR";
	line-height: 1;
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    
    text-decoration: none;
}

.backg{
    max-height: 1000px;
    width: auto;
}

.bgimg{
    display: grid;
    grid: auto / auto auto auto auto auto auto auto auto;
    grid-auto-columns:  100%;
    grid-template-rows:1fr 1fr 1fr 1fr  ;
    column-gap:0px;
    row-gap:0px;
    position: absolute;
    z-index: 0;
    height: 10px;
    z-index: 1;
}


.card img{
    object-fit: fill;
    
}

.card{
    background-color: #ffd8a8;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    height: 300px;
    
}




section {
    position: relative;
    z-index: 2;
    background-color: whitesmoke;
    float: right;
    width: 70%;
    height: 1200px;
    margin-top: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.overlay{
    height: 1000px;
    background-color: #6c578a5a;
    position: relative;
    z-index: ;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1{
    font-size: 40px;
}

.header p{
    margin-top: -20px;
    font-size: 20px;
}


.loginOptions{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    cursor: pointer;
    
}


.loginOptions button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E2DAF4;
    border-style: none;
    width: 472px;
    height: 47px;
    border-radius: 20px;
    
}

i{
    margin-right: 10px;
}

.break{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.leftline{
    width: 150px;
    height: 2px;
    border-top: solid black 1px;
}

.rightline{
    width: 150px;
    height: 2px;
    border-top: solid black 1px;
}

form{
    display: flex;
    flex-direction: column;
}


input {
    margin-bottom: 30px;
    width: 472px;
    height: 47px;
    border-radius: 10px;
    border: solid 1px;
}


.check{
    margin-bottom: 0px;
    width: 30px;
}


.remme {
    width: 200px;
    display:flex;
    gap: 10px;
    align-items: center;    
}

.login button{
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 472px;
    height: 47px;
    border-radius: 20px;
}


/* SignUp page */

.bod{
    height: 965px;
    justify-content: center;
    align-items: center;
}
.signupcontainer{
    background-color: rgba(0, 0, 0, 0.579);
    width: 934px;
    height: 965px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.frame{
    display: flex;
    flex-direction: column;
    width: 642px;
    height: 848px;
    
    
}


.remme{
    width: 115px;
    font-size: 15px;
}

.signupheader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signupheader h1{
    color: white;
    font-size: 44px;
}

.signupheader p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.signUpOptions{

    display: flex;
    flex-direction: column;
    
}

.signUpOptions button{
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;

}

.signUpOptions input{
    width: 548px;
    text-align: center;
    border-radius: 20px;
    background-color: #2c2c2c;
}


.signUpOptions p{
    color: white;
}


.create button{
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;
}

.signupdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: -20px;

}

.suleftline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}

.signupdiv p{
    color: white;
    font-size: 20px;
}

.surightline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

footer p{
    color: white;
}

footer a{
    font-weight: bold;
    color: white;
}

.support{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}


/* Reset password page */

.rspbod{
    height: 965px;
    justify-content: center;
    align-items: center;
}

.rspsignupcontainer{
    background-color: rgba(198, 92, 92, 0.39);
    width: 934px;
    height: 965px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rspframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 642px;
    height: 848px;
    
    
}




.rspheader{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rspheader h1{
    color: white;
    font-size: 44px;
}

.rspheader p{
    color: white;
    font-size: 20px;
    
}

.rspOptions{

    display: flex;
    flex-direction: column;
    
}
.email {
    font-size: 30px;
}

.rspOptions button{
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;

}

.rspOptions input{
    width: 548px;
    text-align: center;
    border-radius: 20px;
    background-color: #2c2c2c;
}


.signUpOptions p{
    color: white;
}


.reset button{
    font-size: 12px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;
}

.signupdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: -20px;

}

.suleftline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}

.signupdiv p{
    color: white;
    font-size: 20px;
}

.surightline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

footer p{
    color: white;
}

footer a{
    font-weight: bold;
    color: white;
}

.support{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
