body {
  background: radial-gradient(
    circle,
    rgba(71, 45, 108, 1) 0%,
    rgba(55, 30, 89, 1) 10%,
    rgba(5, 2, 8, 1) 90%
  );
  color: white;
}

#heading {
  color: #9f00ff;
  font-size: 52px;
  font-family: SF Pro;
  font-weight: 860;
  line-height: 8px;
  word-wrap: break-word;
  text-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
  margin-left: 20px;
}

#header {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(5, 2, 8, 1);
  padding: 9px;
}

#paragraph {
  font-size: 30px;
  margin: 50px;
}

.boxes {
  padding: 50px;
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  font-size: 20px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 54px;
  word-wrap: break-word;
  background: #6c578a;
  border: 2px solid #6c578a;
  margin: 20%;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  justify-content: flex-start;
  text-shadow: 0px 4px 15px #eeebf1;
}

#section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#card1 {
  padding: 60px;
}

#card2 {
  padding: 60px;
}

#card3 {
  padding: 65px;
}

#card4 {
  padding: 60px;
}

#card5 {
  padding: 45px;
  padding-bottom: 65px;
  padding-top: 65px;
  text-align: center;
}

#card6 {
  padding: 70px;
  
  padding-bottom: 65px; 
  display: flex;
  width: fit-content;
}

#card7 {
  padding: 60px;
}

#card8 {
  padding: 60px;
}

#card9 {
  padding: 60px;
}

#card10 {
  padding: 60px;
}

#card11 {
  font-size: 18px;
  padding: 40px;
  padding-top: 57px;
  padding-bottom: 60px;
}

#card12 {
  padding:  55px 67px;
  font-size: 13px;
  /* padding-right: 70px;
  padding-left: 70px; */

}

.boxes:hover{
  cursor: pointer;
  box-shadow: 0px 6px 17px #efedf1
}


.boxes.glow {
  box-shadow: 0 0 25px 8px #c28cff;
  border-color: #c28cff;
  background: #8b6bb6;
  transition: 0.3s ease;
}
