body {
  background: radial-gradient(
    circle,
    rgba(71, 45, 108, 1) 0%,
    rgba(55, 30, 89, 1) 40%,
    rgba(5, 2, 8, 1) 90%
  );
  color: white;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(5, 2, 8, 1);
  padding: 0px;
}

#contactimg {
  margin-right: 24px;
}
#flex {
  display: flex;
  gap: 220px;
  margin-left: 30px;
  justify-content: space-between;
  /* align-items: flex-start; */
  margin-top: 20px;
}

#movieimg {
  position: relative;
  width: 820px;
  height: 600px;
  border-radius: 20px;
  border: #9f00ff;
  transition: 0.4s ease-in-out;
}
#movieimg img {
  width: 100%;
  height: 100%;
}

#heading {
  color: #9f00ff;
  font-size: 52px;
  font-family: SF Pro;
  font-weight: 860;
  line-height: 8px;
  word-wrap: break-word;
  text-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
  margin-left: 20px;
}

#heading2 {
  color: white;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  word-wrap: break-word;
}

#feel {
  color: var(--Color-Galaxy-Purple-Galaxy-Purple-4, #6c578a);
  font-size: 26px;
  font-weight: 700;
  line-height: 4px;
  word-wrap: break-word;
}

#year {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  font-size: 20px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 16px;
  word-wrap: break-word;
}

#movieyear {
  display: flex;
  gap: 10px;
  margin-top: 0;
  align-items: center;
}

.feeling {
  color: var(--Color-Charcoal-Charcoal-10, #060606);
  font-size: 10px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 27px;
  word-wrap: break-word;
  border-radius: 50px;
  border-color: white;
  padding: 5px 18px;
  align-items: center;
}

#prada {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  font-size: 24px;
  font-family: SF Pro;
  font-weight: 590;
  line-height: 30px;
  word-wrap: break-word;
}

.corp {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  line-height: 33px;
  word-wrap: break-word;
}

.corp1 {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  line-height: 13px;
  word-wrap: break-word;
}

.row {
  display: flex;
  gap: 5px;
  margin-left: 25px;
  margin-bottom: 50px;
}
#play {
  width: 30px;
  margin-top: 3px;
}

#now {
  border-radius: 50px;
  padding: 5px 35px;
  font-weight: bold;
  color: var(--Color-Charcoal-Charcoal-10, #060606);
  font-size: 16px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

#discover1 {
  color: var(--Color-Hover-Stroke, #fcff15);
  font-size: 26px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
  text-align: right;
}
#discover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history {
  color: white;
  font-size: 26px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 54px;
  word-wrap: break-word;
}

.movie-img {
  width: 185px;
  height: 285px;
  margin-left: 20px;
}

.movie-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

#movie1-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#movie2-section {
  display: flex;
  justify-content: space-between;
}

#movie3-section {
  display: flex;
  justify-content: space-between;
}

.movie-card {
  min-width: 200px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

#left-arrow,
#righ-arrow {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  background: #9f00ff;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 20px;
}

#left-arrow {
  left: o;
}

#right-arrow {
  right: 0;
}

#all-movie {
  background-color: radial-gradient(
    circle,
    rgba(71, 45, 108, 1) 20%,
    rgba(55, 30, 89, 1) 70%,
    rgba(5, 2, 8, 1) 100%
  );
}


#left-arrow,
#righ-arrow {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  background: #9f00ff;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 20px;
}

#left-arrow {
  left: o;
}

#right-arrow {
  right: 0;
}


/* slide section */
.section-title {
  font-size: 26px;
  margin: 20px 0;
  color: white;
}

.movie-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.movie-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.movie-track::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 160px;
  flex-shrink: 0;
  text-align: center;
}

.movie-img {
  /* width: 100%; */
  border-radius: 10px;
  transition: 0.3s;
}

.movie-img:hover {
  transform: scale(1.08);
}

.arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  font-size: 30px;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: 0.3s ease;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.3);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
